body {
    background-color: #000017;
    font-family: "Roboto", sans-serif;
  }
  
  h1 {
    color: white;
  }
  
  .card-title img {
    max-width: 80px;
  }
  
  .card {
    width: 500px;
    background-color: #000000;
    border: solid rgb(114, 114, 114);
    flex-direction: row;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
  }
  .card p{
      font-size: 30px;
  }

  h2{
    color: white;
  }
  .card,
  p {
    color: white;
  }
  
  .card h2 {
    font-family: "Roboto Slab", serif;
  }
  
  .homelogo {
    margin-right: 10px;
  }
  
  .awaylogo {
    margin-left: 10px;
  }
  
  h1 {
    font-family: "Roboto Slab", serif;
  }
  
  .nfl {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .nhl {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .mlb {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  