body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
}

.card-title img{
    max-width: 30px;
}

.card{
width: 300px;
    background-color: black;
/*     border: solid white; */
    flex-direction: row;
 
}

.card h5, p{
    color: white ;
}

.card h5{
    font-family: 'Roboto Slab', serif;
}

.homelogo{
    margin-right: 10px;
}

.awaylogo{
    margin-left: 10px;
}


.nfl{
justify-content: center;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
